<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nut.mediakit</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/nut/Dropbox/dev/tools/media_handler/watcher.sh</string>
    </array>

    <key>StartInterval</key>
    <integer>60</integer> <!-- 每300秒 = 每5分钟 -->

    <key>RunAtLoad</key>
    <true/>

    <key>WorkingDirectory</key>
    <string>/Users/nut/Dropbox/dev/tools/media_handler</string>

    <key>StandardOutPath</key>
    <string>/Users/nut/Dropbox/dev/tools/media_handler/log/LaunchAgents.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/nut/Dropbox/dev/tools/media_handler/log/LaunchAgents.err</string>
</dict>
</plist>
